JWT_SECRET=your-super-secret-key-change-this-in-production
GOOGLE_CLIENT_ID=457661341021-1aol2pb2b6pn1in0e1ku2nk88sk22o4j.apps.googleusercontent.com
NODE_ENV=development
PORT=3000
APP_URL=http://localhost:3000
DATABASE_PATH=./database.sqlite
EMAIL_FROM=
RESEND_API_KEY=
EMAIL=
EMAIL_PASSWORD=
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_SECURE=false
